# Editor (IntelliJ IDEA)
.idea/
*.iml

# Build složky (Maven)
target/
out/
build/

# Stažené a dočasné soubory z aplikace
Klient/StazeneSoubory/
*.log
*.db
*.sqlite

Klient/target/
*.class
Klient/background.jpg